html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 30px 128px 30px 128px;
    background-color: #191d2b;
}

.header {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    align-items: center;
    
    
}


.logo {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    align-items: center;
    display: flex;
    gap: 5px;
    flex: 1;
    width: fit-content;
    justify-self: flex-start;
}
.logo .logo-text {
    color: aliceblue;
}
.logo .logo-text2 {
    color: #ef4d4d;
}

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    text-align: center;
}
.links .item {
    padding: 12px;
    color: aliceblue;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
}
.links .item::after {
    content: "/";
    padding: 5px;
    align-items: center;
  }
.links .item:hover {
    text-align: center;
    color: #ef4d4d;
    cursor: pointer;
    font-size: 20px;
    background-color: #292f47;
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 60px 0px;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
    gap: 12px;
}
.hero .hero-text {
    max-width: 50%;
}

.hero .hero-text .heading {
    font-size: 32px;
    font-weight: 700;
    min-width: 280px;
    color: aliceblue;
}
.hero .hero-text p {
    position: relative;
    font-size: 24px;
    color: aliceblue;
    padding: 12px;
    border-radius: 20px;
    font-family: 'Kanit', sans-serif;
}
.hero .hero-text p::before {
    content: '';
    position: absolute;
    left: -8px;
    top: 0;
    bottom: 0;
    width: 6px;
    background: linear-gradient(to top, aliceblue, #ef4d4d);
    z-index: -1;
}

.hero .hero-text p strong {
    color: #ef4d4d;
}


.hero .hero-text .heading span {
    font-size: 48px;
    position: relative;
}

.hero .hero-text .heading span::before {
    content: "Welcome!";
    color: #ef4d4d;
    animation: words 20s infinite;
}

.hero .hero-text .heading span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #191d2b;
    border-left: 2px solid #ef4d4d;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@media screen and (max-width: 1200px) {
    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero-image img {
        display: none;
    }
}

@keyframes cursor {
    to {
        border-left: 2px solid #ef4d4d00;
    }
}

@keyframes words {
    0%,20% {
        content: "Welcome!";
    }
    21%,40% {
        content: "¡Bienvenido!";
    }
    41%,60% {
        content: "Bienvenue!";
    }
    61%,80% {
        content: "Willkommen!";
    }
    81%,100% {
        content: "Bem-vindo!";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95% {
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85% {
        width: calc(100% + 8px);
    }
}

.hero-image img {
    width: 450px;
    height: auto;
    border-radius: 20px;
}