:root {
    /* --background-color: #191d2b; */
    --background-color: rgb(25, 29, 43);
    /* --background-highlight: #292f47; */
    --background-highlight: rgb(41, 47, 71);
    --background-highlight2: rgb(41, 47, 71, .5);
    /* --text-color: #e8e6e6d8; */
    --text-color: rgba(232, 230, 216, 0.875);
    /* --accent-color: #ef4d4d; */
    --accent-color: rgb(239, 77, 77);
}
html {
    scroll-behavior: smooth;
}
body {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 32px 128px 32px 128px;
    background-color: var(--background-color);
    cursor: default;
}
.header {
    display: flex;
    justify-content: space-between;
    /* gap: 16px; */
    align-items: center; 
    margin-bottom: 5px; 
    flex: 1;
}
.logo {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    align-items: center;
    display: flex;
    gap: 5px;
    flex: 1;
    width: fit-content;
    justify-self: flex-start;
}
.logo .logo-text {
    color: var(--text-color);
}
.logo .logo-text2 {
    color: var(--accent-color);
}
.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    text-align: center;
    flex: 1;
}
.links .item {
    padding: 12px 6px;
    color: var(--text-color);
    font-size: 20px;
    /* border-radius: 5px; */
    /* border-bottom: 2px solid var(--background-highlight); */
    text-decoration: none;
}
#section-shortcut::after {
    content: "/";
    padding: 5px;
    align-items: center;
  }  
.links .item:hover {
    text-align: center;
    color: var(--accent-color);
    cursor: pointer;
    font-size: 20px;
    border-bottom: 2px solid var(--accent-color);
    /* background-color: var(--background-highlight2); */
}
.hero {
    width: inherit;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    gap: 12px;
    border-radius: 20px;
    flex: 1;
    /* Background Styles */
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}
.hero .hero-text {
    max-width: 50%;
    background-color: var(--background-color);
    border: 3px solid var(--background-highlight);
    padding: 16px;
    border-radius: 20px;
}
.media-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}
.media-links .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 68px;
    background-color: #191d2b;
    font-size: 42px;
    color: var(--text-color);
    border: 3px solid var(--background-color);
    border-radius: 68px;
    transition: transform 0.3s ease;
}
.media-links .link:hover {
    transform: scale(1.2);
    border: 3px solid var(--background-highlight);
}
.media-links .link a {
    color: inherit;
    text-decoration: none;
}
.media-links .link:hover {
    cursor: pointer;
    color: var(--accent-color);
}
.hero .hero-text .heading {
    font-size: 32px;
    font-weight: 700;
    min-width: 280px;
    color: var(--text-color);
}
.hero .hero-text p {
    position: relative;
    font-size: 24px;
    color: var(--text-color);
    padding: 12px;
    border-radius: 20px;
    font-family: 'Kanit', sans-serif;
}
.hero .hero-text p::before {
    content: '';
    position: absolute;
    left: -4px;
    top: 0;
    bottom: 0;
    width: 6px;
    background: linear-gradient(to top, var(--text-color), var(--accent-color));
    border-radius: 3px;
    z-index: -0.5;
}
.hero .hero-text p strong {
    color: var(--accent-color);
}
.hero .hero-text .heading span {
    font-size: 48px;
    position: relative;
}
.hero .hero-text .heading span::before {
    content: "Welcome!";
    color: var(--accent-color);
    animation: words 20s infinite;
}
.hero .hero-text .heading span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #191d2b;
    border-left: 2px solid var(--accent-color);
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--background-color);
    }
}
@keyframes words {
    0%,20% {
        content: "Welcome!";
    }
    21%,40% {
        content: "¡Bienvenido!";
    }
    41%,60% {
        content: "Bienvenue!";
    }
    61%,80% {
        content: "Willkommen!";
    }
    81%,100% {
        content: "Bem-vindo!";
    }
}
@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95% {
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85% {
        width: calc(100% + 8px);
    }
}

.section-header {
    font-size: 36px;
    font-family: 'Kanit', Helvetica, sans-serif;
    color: var(--text-color);
}
.bio-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap; /* Create a media query to adjust this on smaller screens */
    gap: 16px;
}
.bio-sections {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    border: 4px solid var(--background-highlight);
    border-radius: 16px;
    flex: 1;
    
}
.bio-sections:hover {
    background-color: var(--background-highlight);
}
.bio-sections .bio-content p {
    color: var(--text-color);
    font-size: 18px;
    font-family: 'Kanit', Helvetica, sans-serif;
}
.rotater {
    transition: transform 0.3s ease;
}
.rotater:hover {
    transform: scale(1.2) rotate(2deg);
}
.rotatel {
    transition: transform 0.3s ease;
}

.rotatel:hover {
    transform: scale(1.2) rotate(-2deg);
}
.sub-heading1 {
    color: var(--text-color);
    text-align: center;
    border-bottom: 2px solid var(--background-highlight);
    font-family: 'Kanit', Helvetica, sans-serif;
}
.sub-heading2 {
    color: var(--accent-color);
    text-align: center;
    border-bottom: 2px solid var(--background-highlight);
    font-family: 'Kanit', Helvetica, sans-serif;
}
