:root {
    --background-color: #191d2b;
    --background-highlight: #292f47;
    --text-color: #e8e6e6d8;
    --accent-color: #ef4d4d;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 32px 128px 32px 128px;
    background-color: var(--background-color);
}

.header {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    align-items: center;
    
    
}


.logo {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    align-items: center;
    display: flex;
    gap: 5px;
    flex: 1;
    width: fit-content;
    justify-self: flex-start;
}
.logo .logo-text {
    color: var(--text-color);
}
.logo .logo-text2 {
    color: var(--accent-color);
}

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    text-align: center;
}
.links .item {
    padding: 12px;
    color: var(--text-color);
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
}
#section-shortcut::after {
    content: "/";
    padding: 5px;
    align-items: center;
  }
  
.links .item:hover {
    text-align: center;
    color: var(--accent-color);
    cursor: pointer;
    font-size: 20px;
    background-color: var(--background-highlight);
}

.hero {
    width: inherit;
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    padding: 40px;
    gap: 12px;
    border-radius: 20px;

    /* Background Styles */
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;

}
.hero .hero-text {
    max-width: 50%;
    background-color: var(--background-color);
    padding: 16px;
    border-radius: 20px;
}

.hero .hero-text .heading {
    font-size: 32px;
    font-weight: 700;
    min-width: 280px;
    color: var(--text-color);
}
.hero .hero-text p {
    position: relative;
    font-size: 24px;
    color: var(--text-color);
    padding: 12px;
    border-radius: 20px;
    font-family: 'Kanit', sans-serif;
}
.hero .hero-text p::before {
    content: '';
    position: absolute;
    left: -4px;
    top: 0;
    bottom: 0;
    width: 6px;
    background: linear-gradient(to top, var(--text-color), var(--accent-color));
    z-index: -0.5;
}

.hero .hero-text p strong {
    color: var(--accent-color);
}


.hero .hero-text .heading span {
    font-size: 48px;
    position: relative;
}

.hero .hero-text .heading span::before {
    content: "Welcome!";
    color: var(--accent-color);
    animation: words 20s infinite;
}

.hero .hero-text .heading span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #191d2b;
    border-left: 2px solid var(--accent-color);
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@media screen and (max-width: 1200px) {
    .hero {
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    .hero-image img {
        display: none;
    }
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--background-color);
    }
}

@keyframes words {
    0%,20% {
        content: "Welcome!";
    }
    21%,40% {
        content: "¡Bienvenido!";
    }
    41%,60% {
        content: "Bienvenue!";
    }
    61%,80% {
        content: "Willkommen!";
    }
    81%,100% {
        content: "Bem-vindo!";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95% {
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85% {
        width: calc(100% + 8px);
    }
}

.hero-image img {
    width: 450px;
    height: auto;
    border-radius: 20px;
}